In [19]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sns
from sklearn.naive_bayes import BernoulliNB
%matplotlib inline

In [3]:
df=pd.read_json('Office_Products_5.json',lines=True)

In [5]:
df.head()

,asin,helpful,overall,reviewText,reviewTime,reviewerID,reviewerName,summary,unixReviewTime
0,B00000JBLH,"[3, 4]",5,"I bought my first HP12C in about 1984 or so, a...","09 3, 2004",A32T2H8150OJLU,ARH,"A solid performer, and long time friend",1094169600
1,B00000JBLH,"[7, 9]",5,WHY THIS BELATED REVIEW? I feel very obliged t...,"12 15, 2007",A3MAFS04ZABRGO,"Let it Be ""Alan""","Price of GOLD is up, so don't bury the golden ...",1197676800
2,B00000JBLH,"[3, 3]",2,I have an HP 48GX that has been kicking for mo...,"01 1, 2011",A1F1A0QQP2XVH5,Mark B,"Good functionality, but not durable like old HPs",1293840000
3,B00000JBLH,"[7, 8]",5,I've started doing more finance stuff recently...,"04 19, 2006",A49R5DBXXQDE5,R. D Johnson,One of the last of an almost extinct species,1145404800
4,B00000JBLH,"[0, 0]",5,For simple calculations and discounted cash fl...,"08 4, 2013",A2XRMQA6PJ5ZJ8,Roger J. Buffington,Still the best,1375574400

In [6]:
from collections import Counter
word_array=Counter(" ".join(df['summary']).split(" ")).items()

In [7]:
word_df=pd.DataFrame(list(word_array))

In [9]:
word_df.columns=['word','count']

In [10]:
#in order to remove duplicates
word_df['word']=word_df['word'].str.lower()
word_df['word']=word_df['word'].str.strip()
word_df['word']=word_df['word'].str.replace('.', '', regex=False)
word_df['word']=word_df['word'].str.replace('!', '', regex=False)

In [11]:
word_df.sort_values('count', ascending=False).head(50)
# great, good, nice, excellent, easy, perfect, love

          word  count
51         for   6875
3          and   5303
61       great   5281
15         the   4931
44           a   4537
140         to   4261
22         but   3243
20        good   2961
0            a   2184
110          i   2135
8           of   2032
49       great   1979
10          is   1783
156         it   1760
218       with   1746
223       good   1723
54        nice   1722
208       very   1507
23         not   1476
114          -   1360
92       works   1355
341         in   1328
421         as   1231
376        not   1175
243  excellent   1155
296        use   1144
52        this   1060
539    printer   1034
139    quality   1031
259        you   1027
188        the   1013
311         on    978
324       easy    966
136               957
159         my    943
183    product    927
63     perfect    910
216       easy    866
59        love    827
209       nice    817
280        are    801
252       well    796
388     little    785
107       very    777
155       what    776
355       than    776
50       price    748
250       that    680
25        like    631
56       works    627

In [22]:
keywords=['great', 'good', 'nice', 'excellent', 'easy', 'perfect', 'love','product','easy','price']

In [23]:
features=pd.DataFrame()

In [24]:
y=df['overall']
for key in keywords:
    # Note that we add spaces around the key so that we're getting the word,
    # not just pattern matching.
    features[str(key)] = df.summary.str.contains(
        (str(key)),
        case=False
    )
data=features[keywords]

In [25]:
bnb = BernoulliNB()

bnb.fit(data, y)

y_pred = bnb.predict(data)

print("Number of mislabeled points out of a total {} points : {}".format(
    data.shape[0],
    (y != y_pred).sum()
))

Number of mislabeled points out of a total 53258 points : 22742